@model PagedList.IPagedList<ProjectShopManagment.Models.Stall_Manager>
@using PagedList.Mvc
@using PagedList
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{

    ViewBag.Title = "Index";
}

<h2>All Stall Manager</h2>
<div>
    @ViewBag.result;
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Stall_Manager", FormMethod.Get))
{
    <p>
        Search by  Name:@Html.TextBox("searchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-bordered table-hover table-condensed">
    <tr >
        <th>
            @*@Html.DisplayNameFor(model => model.ManagerName)*@
            @Html.ActionLink("ManagerName", "Index", "Stall_Manager", new { sortOrder = ViewBag.NameSortParam, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            Email
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Image)*@
            Image
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Stall.StallName)*@
            @Html.ActionLink("Stall Name", "Index", "Stall_Manager", new { sortOrder = ViewBag.StallSortParam, currentFilter = ViewBag.CurrentFilter }, null)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ManagerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @if (item.Image != null)
                {
                    <img src="@Url.Content(item.Image)" height="60" width="70" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Stall.StallName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<br />
@Html.PagedListPager(Model, page => Url.Action("Index", new { page,
    sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
